html,
body,
#map,
#elevation-div {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#map {
  height: 80%;
}
   /* style for leaflet-pannel-layer */
.leaflet-panel-layers {
  /* width: 30px; */
  min-width: 30px;
}

#elevation-div {
  height: 20%;
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding-top: 0px;
}
/* .height-focus.line,
.height-focus-label {
 display: none;
} */

/* .leaflet-control-layers-expanded  {
  top: 0px;
   right: 150px;
} */



.height-focus.circle-lower {
 stroke: white;
 fill: black;
 /*background: url(https://maps.google.com/mapfiles/kml/pal4/icon25.png);*/
 stroke-width: 3px;
 -webkit-filter: drop-shadow(0 0 5px #000);
 filter: drop-shadow(0 0 5px #000);
}


.leaflet-div-icon {
position: absolute;  
background:rgba(255,25,91,0.7);
border:1px solid rgba(51, 51, 51,0.8);
color:black;
font-size:8px;
font-weight:normal;
text-align:center;
border-radius:50%;
line-height:18px;
}

.leaflet-div-icon2 {
position: absolute;  
background:rgba(53,184,29,0.7);
border:1px solid rgba(51, 51, 51,0.8);
color:black;
font-size:8px;
font-weight:normal;
text-align:center;
border-radius:90%;
line-height:18px;
}

.leaflet-div-icon3 {
position: absolute;  
background:rgba(46, 134, 193,0.7);
border:1px solid rgba(51, 51, 51,0.8);
color:black;
font-size:8px;
font-weight:normal;
text-align:center;
border-radius:90%;
line-height:18px;
}

.leaflet-div-icon4 {
position: absolute;  
background:rgba(241, 196, 15,0.7);
border:1px solid rgba(51, 51, 51,0.8);
color:black;
font-size:8px;
font-weight:normal;
text-align:center;
border-radius:90%;
line-height:18px;
}

.leaflet-div-icon5 {
position: absolute;  
background:rgba(155, 89, 182,0.7);
border:1px solid rgba(51, 51, 51,0.8);
color:black;
font-size:8px;
font-weight:normal;
text-align:center;
border-radius:90%;
line-height:18px;
}


@keyframes fade {
  50% {
      border-color: rgba(189, 186, 186, 0);
      border:1.5px solid rgba(250, 249, 249, 0.493);
      border-radius:100%;
      text-align:center;
      line-height:20px;
      width: 23px;
      height:23px
  }
}

.leaflet-marker-icon.selectedMarker {
  position: absolute;
  border:1.5px solid rgb(252, 252, 252);
  /* color:rgb(0, 0, 0); */
  /* font-size:8px; */
  /* font-weight:normal; */
  /* text-align:center;
  border-radius:90%; */
  line-height:16px;
  animation: fade 1s infinite alternate;
  }
  


.leaflet-div-icon-rescue {
  position: absolute;  
  background:rgb(255, 7, 7);
  border:1px solid rgba(0,0,0,1);
  color:black;
  font-size:10px;
  font-weight:normal;
  text-align:center;
  border-radius:90%;
  line-height:8px;
  }

  .fa-stack {
    top:-3px;
    left: -4px;
    color: rgba(243, 42, 7, 0.781);
    font-size:15px;
  }
  .fa-inverse {
    color: black;
    left: -4.5px;
    top: -3.5px;
    font-size: 12px;
  }



/*style for layer added dynamicaly*/
.leaflet-control-layers {
position: relative;
/*background: rgba(77, 219, 255, 0.5);*/
font: bold 11px 'Verdana', Monaco, monospace;
top: -240px;
right: -550px;
}

.leaflet-control-layers-expanded{
background-color: rgba(37,37,37,0.6);
}
.leaflet-control-layers-list{
color: white;
}
.leaflet-bar a {
color: white;
background-color: rgba(37,37,37,0.6);

}
.leaflet-control-layers-toggle{
background-color: rgba(37,37,37,0.8);
color: rgba(227,74,51,0.7);
}
.leaflet-control-layers-toggle:after {
/* content: "Maps!"; */
color: orangered;
text-align: justify;
vertical-align: middle;
text-decoration: none;
padding: 10%
}

/*css pt leaflet-elevation, schimbare culoare profil */
/* .lime-theme.leaflet-control.elevation .background{background-color:rgba(37,37,37,0.4)} */
.lime-theme.leaflet-control.elevation .area{fill:rgba(157, 66, 9, 0.9)}
.lime-theme.leaflet-control.elevation .mouse-drag{fill:rgba(241,105,19,.4)}
.lime-theme.leaflet-control.elevation .axis path{fill:none;stroke:#0d1821;stroke-width:1.7}
/* .lime-theme.leaflet-control.elevation{margin-bottom: 0px} */
.lime-theme.elevation-polyline {stroke: transparent}


.leaflet-bar a {
color: white;
background-color: rgba(37,37,37,0.6);

}

/* .leaflet-control.elevation {
top: 5px;
right: 0px;
} */
.leaflet-popup-tip{
background-color:rgba(0, 0, 0, 1);
}
.leaflet-popup-content-wrapper {
background-color: rgba(230, 179, 108, 0.7);
border: 1.5px solid black;
color: black;
text-align: center;
font-family: "Verdana", Arial, serif;
}
.leaflet-container a.leaflet-popup-close-button{ /* botonul x al tooltip-ului*/
color: black;
}

.legend {
  line-height: 18px;
  color: #555;
  /* background-color: rgba(176, 233, 123, 0.8); */
  /* left: 50px;
  top:-280px; 
  background: white;*/
   background: rgba(191,226,202, 0.7);
   box-shadow: 0 0 15px rgba(0,0,0,0.2);
   border-radius: 5px;
}
.legend i {
   width: 18px;  
   height: 18px;
   float: left;
   margin-right: 8px;
   opacity: 0.7;
}

@media (max-height:700px) {.legend {
  line-height: 18px;
  color: #555;
  /* background-color: rgba(176, 233, 123, 0.8); */
  left: 50px;
  top:-270px;
}     
}

@media (max-height:640px) {.legend {
  line-height: 18px;
  color: #555;
  /* background-color: rgba(176, 233, 123, 0.8); */
  left: 50px;
  top:-250px;
} 
}

@media (max-height:580px) {.legend {
  line-height: 18px;
  color: #555;
  /* background-color: rgba(176, 233, 123, 0.8); */
  left: 50px;
  top:-195px;
} 
}




/* button:focus {outline:0;} */


.leaflet-container .leaflet-control-attribution {
  bottom:0px;
  right: 3px;
}
/*pozitionare scara*/
.leaflet-left .leaflet-control-scale {
 position: absolute;
 left: 5px;
}

.leaflet-control-scale-line {
position: relative;
bottom:3px;
}


.lorem {
color: black;
text-align: justify;
font: 14px sans-serif;
/* text-indent: 35px; */
line-height: 140%;
}



.lorem2 {
  color: black;
  text-align: center;
  font: italic 14px sans-serif;
}

.leaflet-sidebar-tabs {
background-color: rgba(157, 66, 9, 0.9);
}



.leaflet-sidebar-tabs > li:hover, .sidebar-tabs > ul > li:hover {
color: white;
background-color: #2a2a2a;
}
.leaflet-sidebar-tabs > li.active, .sidebar-tabs > ul > li.active {
color: #fff;
background-color: #2a2a2a;
}
.leaflet-sidebar-tabs > li.disabled, .sidebar-tabs > ul > li.disabled {
color: rgba(51, 51, 51, 0.4);
}
/* .leaflet-sidebar-tabs > li.disabled:hover, .eaflet-sidebar-tabs > ul > li.disabled:hover {
background: transparent;
} */
.leaflet-sidebar-tabs > li.active, .leaflet-sidebar-tabs > ul > li.active {
  color: #fff;
  background-color: #2a2a2a; }

.leaflet-sidebar-header {
  color: #fff;
  background-color: #2a2a2a;
  font-family: sans-serif;
  width: 1000px;
  }


 /*styling link-uri*/
 .leaflet-control-locate {
   top: -60px;
 }

  a{
      text-decoration: none;
      color:#0078A8;
  }
  a.linkuri:hover{
      color:deepskyblue;

  }
   .leaflet-control-attribution a:hover {
      text-decoration: none;
  }
    a:hover:nth-child(2) {
      font-weight: bold;
  }


.leaflet-container .leaflet-control-search {
    top: 20px;
    background-color: rgba(37,37,37,0.6);
    color: white;
    background-color: rgba(37,37,37,0.6);
  }

  /*style the control layer where kml, gpx and geojson layers are added to the map*/
  .my-button-class {
     box-sizing:border-box;
     background-color: transparent;
 }

.btn-dark {
  padding: 2px 5px;
  font-size: 12px;
  border-radius: 2px;
}

.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle{
color: #fff;
background-color: #F7B432;
border-color: #F7B432;
}


.leaflet-sidebar-content {
  background-color: rgba(230, 179, 108, 0.8);
  overflow-x: hidden;
  overflow-y: auto;
  /* overflow: scroll; */
  /* white-space: nowrap;  */
  }

.leaflet-sidebar-tabs > li.disabled > a, .leaflet-sidebar-tabs > ul > li.disabled > a {
  background-color: rgba(75, 74, 74, 0.5);   
  cursor: not-allowed;
} 


.table th.setWidth {
min-width: 210px;
}
.table th.category_1 {
  min-width: 170px;
}
.anchorsFemaleTeam
{
   display:table-row;
   width:auto;
}

.table tr.femaleTeam:nth-child(even) {
  background-color: rgba(82, 80, 80, 0.08);
}
.table tr.maleTeam:nth-child(even) {
  background-color: rgba(82, 80, 80, 0.08);
}

.table tr.mixTeam:nth-child(even) {
  background-color: rgba(82, 80, 80, 0.08);
}

.leaflet-panel-layers-group.collapsible:not(.expanded) {
  height: 20px;
}

.leaflet-panel-layers-overlays .leaflet-panel-layers-item {
  margin-bottom: 4px;
  padding: 0px;
  background: #fff;
  border: 1px solid
  rgba(0,0,0,0.3);
  border-radius: 4px;
}

.leaflet-panel-layers-item .leaflet-panel-layers-title {
  display: block;
  white-space: nowrap;
  float: none;
  cursor: pointer;
  line-height: 20px;
  height: 5px;
}

/* modified */
.leaflet-panel-layers-group.collapsible .leaflet-panel-layers-icon:first-child {
min-width: 22px;
font-size: 13px;
vertical-align: middle;
text-align: center;
background: none;
}

.leaflet-panel-layers-overlays .leaflet-panel-layers-item {
  margin-bottom: 5px;
  background: #fff;
  border: 1px solid
  rgba(0,0,0,0.3);
  border-radius: 4px;
  line-height: 21px;
	border-radius: 3px;
}

.leaflet-panel-layers-group {
	padding: 2px 4px;
	margin-bottom: 2px;
	border: 1px solid rgba(0,0,0,0.3);
  background: rgba(255,255,255,0.6);
  /* line-height: 21px;
	border-radius: 3px; */
}

.leaflet-panel-layers-group.collapsible:not(.expanded) {
  height: 30px;
}

.leaflet-panel-layers-group.collapsible .leaflet-panel-layers-icon:first-child {
	min-width: 22px;
  font-size: 13px;
  vertical-align: middle;
	text-align: center;
	background: none;
}

/* table info detailes styling */
#tableInfoDetailes .boldText {
  font-weight: bold;
}

#tableInfoDetailes .thead-dark td {
  background-color: #343a40;
  color: #fff;
  font-size: small;
  font-weight: bold;
  border-color: #454d55
}

#tableInfoDetailes td,  #tableInfoDetailes th {
padding: .25rem;

}
#tableInfoDetailes td, #tableInfoDetailes th {
  min-width: 2px;
}

#headerTable td,  #headerTable th {
padding: .35rem;
}
#tableInfoDetailes thead td,  #tableInfoDetailes thead th{
   border  : 1px solid rgba(37,37,37,0.6);
}

.leaflet-control-search .search-button, .leaflet-control-search .search-button:hover {
  width: 29px;
  height: 29px;
}

/*  easy buttom styling*/
button.easy-button-button {
  position: relative; }
.easy-button-button .button-state {
  position: absolute;
  top: 0;
  left: 0; 
  margin-top:2.5px;
}

  /* .lime-theme.leaflet-control.elevation .background  {
    height:150px;
  } */

.leaflet-control-filelayer {
  top: -7px;
}

.leaflet-tooltip {
  background-color: rgba(8, 8, 8, 0.8);
  color: #fff;
}

p.big {
  line-height: 0.1;
}
p.small {
  line-height: 1.2;
}

.height-focus.line,
		.height-focus-label {
			display: none;
		}

.height-focus.circle-lower {
  stroke: white;
  fill: black;
  /*background: url(https://maps.google.com/mapfiles/kml/pal4/icon25.png);*/
  stroke-width: 3px;
  -webkit-filter: drop-shadow(0 0 5px #000);
  filter: drop-shadow(0 0 5px #000);
}


p.medium {
  text-align: left;
  line-height: 1.2;
  font-size-adjust: 0.58;
}
 







