* { font: 17px Calibri; } 
#empTable { width: 70%; }
#empTable, #teamNames, th, td { border: solid 1px #DDD;
    border-collapse: collapse; padding: 2px 3px; text-align: center;
}

#teamNames { border: solid 1px #DDD;
    border-collapse: collapse; padding: 2px 3px; text-align: center;
}
/* .input-wrapper {
    border-radius:5px;
    padding:10px;
} */

th {
    white-space: nowrap;
}

input[type=text] {
    width:100%;
    font-size:16px;
}

